services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_app
    command: gunicorn LibraryManagementSystem.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120
    volumes:
      - ./src:/app
      - static_volume:/app/staticfiles
      - sqlite_volume:/app/data
    expose:
      - "8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=sqlite:////app/data/db.sqlite3
    depends_on:
      - nginx
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx_server
    volumes:
      - static_volume:/app/staticfiles
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certs:/etc/nginx/certs:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    restart: unless-stopped

volumes:
  static_volume:
  sqlite_volume:

networks:
  app-network:
    driver: bridge
