name: Build & Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # THÊM BƯỚC NÀY: Cài đặt Docker Buildx (cần thiết để dùng cache)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: wanthinnn
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push to Docker Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            wanthinnn/library-management-system:latest
            wanthinnn/library-management-system:${{ github.sha }}
          # THÊM 2 DÒNG NÀY: Để cache lại các layer cũ
          cache-from: type=gha
          cache-to: type=gha,mode=max